<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Link of Crud Operations</h1>
    GET deatil:<a href='/get/'> "GET Link!"</a><br>
    Create new:<a href='/create/'> "POST Link!"</a><br>
    Create Leads (use /x where x is id no):<a href='/leads/'> "Create Link!"</a><br>
    update,retrive Leads (use /x where x is id no):<a href='/leads/update/1'> "Update Link!"</a><br><br>
    check full documentation of lead Gecko at :<a href='/docs/'> "Docs!"</a><br>
</body>
</html>
